name: Python package

on:
  push:
    branches: [ "main"]
    paths-ignore:
    - 'docs/**'
    - 'README.md'
    - 'LICENSE'
    - '*.yml'
  pull_request:
    branches: [ "main"]
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'LICENSE'
      - '*.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.13"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[test]

      - name: Run tests
        run: pytest --cov=energia --junitxml=junit.xml -o junit_family=legacy


      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
